.logo-container {
    display: inline-flex;
    align-items: center;
    gap: 0.9rem;
    height: 7.4rem;
}

.logo-image-container {
    height: 100%;
}

.logo__mi-blog {
    font-family: $font-logo-mi-logo;
    font-weight: bold;
    line-height: 5.5rem;
    text-transform: uppercase;
    font-size: 7.5rem;
}
