// font family
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Mono', monospace;
$font-tertiary: 'Roboto Slab', serif;
$font-logo-mi-logo: 'CodeNext-ExtraBold' ,'Roboto Mono', monospace;

// font size
$small: 1rem;
$medium: 1rem;
$large: 1rem;
$extra-large: 1rem;
