.button {
    width: 11rem;
    height: 5rem;
    font-family: $font-primary;
    font-size: $medium;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.button--primary {
    background-color: $primary-color;
}