header.header
    section
        div 
            a(href="") Facebook 
            a(href="") Twitter
            a(href="") Instagram
            a(href="") Linkedin
            a(href="") Youtube
    nav
        section 
            a(href="") Logo
        section 
            a(href="./perfil.html") Sobre mí 