header.header
    section.header__social-media-icons
        .header__social-media-icons-container
            a(href="").header__anchor.header__social-media-icon Facebook 
            a(href="").header__anchor.header__social-media-icon Twitter
            a(href="").header__anchor.header__social-media-icon Instagram
            a(href="").header__anchor.header__social-media-icon Linkedin
            a(href="").header__anchor.header__social-media-icon Youtube
    nav.header__nav-logo-container
        section.header__logo-container
            a(href="").header__anchor Logo
        section.header__profile-link
            a(href="./perfil.html").header__anchor Sobre mí 