@import "../components/global/global";
@import "../components/global/header";
@import "../components/global/footer";
@import "../components/global/buttons";

.header__social-media-icons,
.footer {
    display: none;
}

.body {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 3rem;
    width: 100%;
    height: 100vh;
    min-height: 490px;
    font-family: $font-secondary;
    background: url("https://drive.google.com/uc?id=1HT0indmg4FARX86CXwzTMLwhf2Ctu6u1") no-repeat center;
    background-size: cover;
}

.header {
    display: inline-block;
    margin-block-start: 3rem;
}

.logo__mi-blog,
.header__about-me-span,
.main__social-media-icon,
.main__title,
.main__subtible {
    color: $white;
}


.header__about-me-span {
    border-color: $white;
}


.main {
    display: grid;
    grid-template-rows: 1fr 5rem;
    gap: 5rem;
    align-items: center;
    align-self: center;
    width: 100%;
    text-align: center;
}


.main__titles-container {
    padding: 0 1rem;
}

.main__title {
    font-size: $extra-large;
} 

.main__subtible {
    margin-block-start: 1rem;
    margin-block-end: 3rem;
    font-size: $large;
}

.main__social-media-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block-end: 1rem;
}

.main__social-media-icons-container {
    display: flex;
    justify-content: space-between;
    width: 25rem;
}